html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}
